.container {
    margin-left: 0;
    margin-right: 0;
}

.tableFixHead {
  overflow-y: auto;
  height: 800px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color:#f5be34;
  color: black;
}

.table tr td {
  cursor: pointer;
}